body {
  background-size: 100%;
  background-image: url("../../images/icones/background.png");
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
}

.cabecalho,
.logotipo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cabecalho a {
  text-decoration: none;
}

.logotipo {
  padding: 2rem;
}

.logotipo__imagem {
  width: 80%;
}

.ofertas__titulo {
  color: var(--branco);
  font-family: var(--nunito);
  font-weight: 800;
  text-transform: uppercase;
}

.ofertas__imagem {
  height: 5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.5rem;
}

.btn__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.btn__link {
  align-items: center;
  display: flex;
  /* flex-direction: column; */
  max-width: 350px;
  padding-bottom: 1rem;
  text-decoration: none;
  width: 100%;
}

.btn__semana {
  align-items: center;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35),
    inset 0px 3px 3px rgba(255, 255, 255, 0.251);
  cursor: pointer;
  display: flex;
  font-family: var(--nunito);
  font-size: 1rem;
  font-weight: 800;
  height: 3.2rem;
  width: 100%;
}

.btn__semana p {
  width: 100%;
  text-align: center;
  color: var(--branco);
  text-transform: uppercase;
}

.btn__icone {
  width: 70px;
}
.btn__tabloide {
  width: 50px;
  height: 3rem;
  margin-top: 5px;
}
.btn__ativaveis {
  width: 50px;
  height: 3rem;
  /* padding-top: 2px; */
}
.btn__terca {
  background-color: var(--btn-terca);
}

.btn__feirao {
  background-color: var(--btn-feirao);
}

.btn__quarta {
  background-color: var(--btn-quarta);
}

.btn__sexta {
  background-color: var(--btn-sexta);
}
.btn__finalzao {
  background-color: var(--btn-finalzao);
}
.btn__domingo {
  background-color: var(--btn-domingo);
}

.oferta__tabloide {
  background-color: #101d9b;
}

.oferta__diarias {
  color: var(--branco);
}
.btn__voltar {
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .logotipo__imagem {
    padding-top: 1rem;
    width: 75%;
  }
  .ofertas__titulo {
    font-size: 1.5rem;
  }
  .ofertas__imagem {
    height: 7rem;
  }
  .container {
    padding-top: 3rem;
  }
  .btn__voltar {
    width: 50%;
  }
}
