@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;900&display=swap");
:root {
  --gradient-azul: linear-gradient(
    52deg,
    rgba(49, 164, 232, 1) 23%,
    rgba(14, 21, 150, 1) 100%
  );
  --gradient-verde: linear-gradient(
    52deg,
    rgba(58, 156, 102, 1) 23%,
    rgba(0, 65, 30, 1) 100%
  );
  --verde: #00b050;
  --azul-claro: #0066af;
  --azul: #002060;
  --branco: #fff;
  --nunito: "Nunito", sans-serif;
  /* cores do home */
  --btn-terca: #ff0000;
  --btn-feirao: #92d050;
  --btn-quarta: #edc549;
  --btn-sexta: #00b0f0;
  --btn-finalzao: #d72323;
  --btn-domingo: #7030a0;
}

.btn__semana:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.btn__voltar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 2rem;
}

.btn__voltar button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: solid 2px #fff;
  border-radius: 15px;
  color: var(--branco);
  left: 0;
  cursor: pointer;
}

.btn__voltar a {
  text-decoration: none;
}

.btn__voltar img {
  margin: 5px;
}

.btn__link--desativado {
  pointer-events: none !important;
}

.btn__link--desativado .btn__semana {
  background-color: darkgray !important;
  opacity: 0.7;
}

@media screen and (min-width: 768px) {
  .btn__voltar {
    width: 50%;
  }
}
