body {
    background: var(--gradient-azul);
    height: 100vh;
}

.bodyMixter {
    background: var(--gradient-verde);
    height: 100vh;
}

.cabecalho,
.logotipo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .8rem 0;
}

.logotipo__imagem {
    width: 50%;
}

.carousel__buttom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: var(--azul-claro) !important;
    border-radius: 100% !important;
    opacity: 0.7;
}