body {
    background: var(--gradient-azul);
    font-family: var(--nunito);
    height: 100vh;
    margin: 0;
}

.cabecalho,
.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--branco);
    font-weight: 900;
    text-transform: uppercase;
}

.cabecalho {
    padding: 3em 0;
}

.cabecalho h1 {
    font-size: 1.5rem;
}

.botoes__tabloide {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

.container {
    padding: 30px;
}

.btn__link {
    text-decoration: none;
}

.btn__ofertas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    color: var(--branco);
    border: none;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: right;
    padding-right: 15px;
    cursor: pointer;
}

.btn__logo {
    width: 60%;
    padding: 15px 15px;
}

.padrao {
    background: var(--azul);
}

.mixter {
    background: var(--verde);
}

.rodape {
    position: relative;
    bottom: 0;
    height: 33vh;
}

.rodape p {
    display: flex;
    align-items: flex-end;
    height: 100%;
    font-size: 1rem;
}

@media (min-width: 610px) {
    .cabecalho {
        padding: 6em 0;
    }
    .cabecalho h1 {
        font-size: 2.5rem;
    }
    .btn__logo {
        width: 250px;
        padding: 15px 15px;
    }
    .padrao>.btn__logo {
        width: 240px;
    }
    .mixter>.btn__logo {
        margin: 0 10px;
    }
    .rodape p {
        font-size: 1.2rem;
    }
}