body {
    background: var(--gradient-verde);
    height: 100vh;
    margin: 0;
}

.cabecalho,
.logotipo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho a {
    text-decoration: none;
}

.logotipo {
    padding: 3rem;
}

.logotipo__imagem {
    width: 80%;
}

.ofertas__titulo {
    display: flex;
    align-items: center;
    background-color: var(--azul);
    border: none;
    border-radius: 15px;
    color: var(--branco);
    font-family: var(--nunito);
    font-weight: 900;
    height: 3rem;
    padding: 0 0 0 15px;
    text-transform: uppercase;
    cursor: pointer;
}

.ofertas__imagem {
    height: 5rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5rem;
}

.btn__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.btn__link {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    padding-bottom: 1rem;
    text-decoration: none;
    width: 100%;
}

.btn__semana {
    align-items: center;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35), inset 0px 3px 3px rgba(255, 255, 255, 0.25);
    cursor: pointer;
    display: flex;
    font-family: var(--nunito);
    font-size: 1rem;
    font-weight: 900;
    height: 3.2rem;
    width: 100%;
}

.btn__semana p {
    width: 100%;
    text-align: center;
    color: var(--branco);
    text-transform: uppercase;
}

.btn__icone {
    width: 70px;
}

.btn__terca {
    background-color: var(--btn-terca);
}

.btn__feirao {
    background-color: var(--btn-feirao);
}

.btn__quarta {
    background-color: var(--btn-quarta);
}

.btn__sexta {
    background-color: var(--btn-sexta);
}

.btn__domingo {
    background-color: var(--btn-domingo);
}

@media screen and (min-width: 768px) {
    .logotipo__imagem {
        padding-top: 5rem;
        width: 75%;
    }
    .ofertas__titulo {
        font-size: 1.5rem;
        height: 4.5rem;
        padding: 0 0 0 25px;
    }
    .ofertas__imagem {
        height: 7rem;
    }
    .container {
        padding-top: 3rem;
    }
}